<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A nonlinear, hypertext fiction about a dysfunctional relationship and the interconnectivity of the lives affected by it.">
    <meta name="keywords" content="hypertext, nonlinear, electronic literature, fiction, lgbt, literature, lit, lgbt lit, alt lit, experimental lit, golden states, california, new york, flash fiction">
    <meta name="author" content="">
    <title>Golden States</title>
    <style>
     @media only screen and (max-device-width: 480px) {
  }
@media only screen and (max-device-width: 480px) {
p {font-size:250%;
font-family: courier; }

  }
.container {padding-bottom:75px;
  .footer {
    webkit-transform:translate(0,0);
    z-index: -9999; /* up up and above */
    width: 100%;
    height: 70px;
    background-color: white;
    position: relative;
    bottom: 0;
    .footerz a:link, .footerz a:active, .footerz a:visited
 {color:c4c2c7;
text-decoration:none;}

    </style>
  </head>

  <body>

    <%= yield %>

  <footer class="footer">
    <font color="c4c2c7" face="courier" size="2">
<center>
<span class="footerz">
<a href="/about">about</a> | <a href="/share">share</a> | <a href="/">home</a> | <a href="/current">go to current place in story</a>
<br><br>
<i>golden states</i><br>(c)2013 sarah baker & hannah skibbe
</span>
</body>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script>
    //** removes alerts after 4 seconds */
    window.setTimeout(function() {
        $(".alert").fadeTo(4500, 0).slideUp(500, function(){
            $(this).remove();
        });
    }, 4000);

    $(document).ready(function() {
      $(".container a").click(function() { 
        //z = this.href;
        //alert(z); 
        document.cookie = "page=" +this.href;
      });
    });
    </script>

</html>