<style>
.container {
 position:relative;
 top:50px;
 left:40px;
 height: 400px;
 width: 1200px;
 overflow: hidden;
}

.story {
height: 400px;
 overflow: auto;
}


</style>

<div class="container">
	<div id="1">
	once there was a tomato named <a href="#2"> tommy ato</a>. aaah!
    </div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="story" id="2">
	tommy ato lived with his siblings on a <a href="#3">farm</a>.
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div class="story" id="3">
the farm was golden brown. <a href="#4">wheat fields</a> went on for miles. this is an example of what would happen if you had a really long chunk of story within that div that required a scrollbar. the farm was golden brown. wheat fields went on for miles. this is an example of what would happen if you had a really long chunk of story within that div that required a scrollbar. the farm was golden brown. wheat fields went on for miles. this is an example of what would happen if you had a really long chunk of story within that div that required a scrollbar. the farm was golden brown. wheat fields went on for miles. this is an example of what would happen if you had a really long chunk of story within that div that required a scrollbar. the farm was golden brown. wheat fields went on for miles. this is an example of what would happen if you had a really long chunk of story within that div that required a scrollbar. the farm was golden brown. wheat fields went on for miles. this is an example of what would happen if you had a really long chunk of story within that div that required a scrollbar. the farm was golden brown. wheat fields went on for miles. this is an example of what would happen if you had a really long chunk of story within that div that required a scrollbar. the farm was golden brown. wheat fields went on for miles. this is an example of what would happen if you had a really long chunk of story within that div that required a scrollbar. the farm was golden brown. wheat fields went on for miles. this is an example of what would happen if you had a really long chunk of story within that div that required a scrollbar. the farm was golden brown. wheat fields went on for miles. this is an example of what would happen if you had a really long chunk of story within that div that required a scrollbar. the farm was golden brown. wheat fields went on for miles. this is an example of what would happen if you had a really long chunk of story within that div that required a scrollbar. the farm was golden brown. wheat fields went on for miles. this is an example of what would happen if you had a really long chunk of story within that div that required a scrollbar. the farm was golden brown. wheat fields went on for miles. this is an example of what would happen if you had a really long chunk of story within that div that required a scrollbar. the farm was golden brown. wheat fields went on for miles. this is an example of what would happen if you had a really long chunk of story within that div that required a scrollbar. 
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="story" id="4">
<a href="#1">yo</a> this is just to double-check that you can re-use the div class without it being dumb. etc etc etc. this is just to double-check that you can re-use the div class without it being dumb. etc etc etc. this is just to double-check that you can re-use the div class without it being dumb. etc etc etc. this is just to double-check that you can re-use the div class without it being dumb. etc etc etc. this is just to double-check that you can re-use the div class without it being dumb. etc etc etc. this is just to double-check that you can re-use the div class without it being dumb. etc etc etc. this is just to double-check that you can re-use the div class without it being dumb. etc etc etc. this is just to double-check that you can re-use the div class without it being dumb. etc etc etc. this is just to double-check that you can re-use the div class without it being dumb. etc etc etc. this is just to double-check that you can re-use the div class without it being dumb. etc etc etc. this is just to double-check that you can re-use the div class without it being dumb. etc etc etc. this is just to double-check that you can re-use the div class without it being dumb. etc etc etc. this is just to double-check that you can re-use the div class without it being dumb. etc etc etc. this is just to double-check that you can re-use the div class without it being dumb. etc etc etc. this is just to double-check that you can re-use the div class without it being dumb. etc etc etc. this is just to double-check that you can re-use the div class without it being dumb. etc etc etc. this is just to double-check that you can re-use the div class without it being dumb. etc etc etc. this is just to double-check that you can re-use the div class without it being dumb. etc etc etc. this is just to double-check that you can re-use the div class without it being dumb. etc etc etc. this is just to double-check that you can re-use the div class without it being dumb. etc etc etc. this is just to double-check that you can re-use the div class without it being dumb. etc etc etc. this is just to double-check that you can re-use the div class without it being dumb. etc etc etc. this is just to double-check that you can re-use the div class without it being dumb. etc etc etc. this is just to double-check that you can re-use the div class without it being dumb. etc etc etc. this is just to double-check that you can re-use the div class without it being dumb. etc etc etc. this is just to double-check that you can re-use the div class without it being dumb. etc etc etc. this is just to double-check that you can re-use the div class without it being dumb. etc etc etc. this is just to double-check that you can re-use the div class without it being dumb. etc etc etc. this is just to double-check that you can re-use the div class without it being dumb. etc etc etc. this is just to double-check that you can re-use the div class without it being dumb. etc etc etc. 
</div>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>	